<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.temiproject">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--         Adding this meta-data is required in order to display this app in temi's launcher app -->
       <meta-data
           android:name="com.robotemi.sdk.metadata.SKILL"
           android:value="TemiProject"
           />
       <meta-data
           android:name = "com.robotemi.sdk.metadata.KIOSK"
           android:value = "true" />
        <meta-data
            android:name="com.robotemi.sdk.metadata.ACTIONS"
            android:value="home.welcome" />
       <meta-data
           android:name="@string/metadata_open_without_internet"
           android:value="true" />
        <meta-data
            android:name="@string/metadata_permissions"
            android:value="com.robotemi.permission.map,
                           com.robotemi.permission.settings" />
       <activity android:name=".SearchActivity">
           <intent-filter>
               <action android:name="android.intent.action.SEARCH" />
           </intent-filter>
           <meta-data android:name="android.app.searchable"
               android:resource="@xml/searchable"/>
       </activity>
        <activity android:name=".AfterPhotoActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".InformationActivity"
            android:launchMode="singleInstance"/>

        <activity
            android:name=".ThanksLeadingActivity"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".MapActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".BrandSearchActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GuildPointActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".CameraActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ArrivalActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".MovingActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>